<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>记账后台</title>
  <link rel="stylesheet" href="{$smarty.const.JS_URL}layui/css/layui.css">
  <style>
  .layui-show{
    height: 100%;
  }
  .layui-form-pane .layui-form-label{
    width: 130px;
  }  
  </style>
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">记账后台</div>
    <!-- 头部区域 -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="{$smarty.const.IMG_URL}/photo.jpg" class="layui-nav-img">
          {$smarty.session.user}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">基本资料</a></dd>
          <dd><a href="javascript:;">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="{U('Index/logout')}">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域-->
      <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="demo">
        <li class="layui-nav-item layui-this"> 
          <a href="javascript:;"><i class="layui-icon">&#xe642;</i> 记一笔</a>
        </li>
        <li class="layui-nav-item"> 
          <a href="javascript:;" data-type="tabAdd"><i class="layui-icon">&#xe63c;</i> 账单列表</a>
        </li>
        <li class="layui-nav-item"> 
          <a href="javascript:;"><i class="layui-icon">&#xe61e;</i> 导出账单</a>
        </li>
        <li class="layui-nav-item"> 
          <a href="javascript:;"><i class="layui-icon">&#xe614;</i> 分类管理</a>
        </li>
        <li class="layui-nav-item"> 
          <a href="javascript:;"><i class="layui-icon">&#xe629;</i> 数据统计</a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body layui-tab-content clildFrame">
    <!-- 内容主体区域 -->
    <!-- 记账 -->
    <div class="layui-tab-item layui-show"><iframe src="{U('Index/accounting')}" frameborder="0" scrolling="auto" width="100%" height="100%"></iframe></div>
    <!-- 账单列表 -->
    <div class="layui-tab-item"><iframe src="{U('Index/bill')}" frameborder="0" scrolling="auto" width="100%" height="100%"></iframe></div>
    <!-- 导出账单 -->
    <div class="layui-tab-item">
      <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
          <li class="layui-this"><i class="layui-icon">&#xe601;</i> 账单导出</li>
        </ul>
        <div class="layui-tab-content">
          <div class="layui-tab-item layui-show">

            <form action="" method="post" class="layui-form layui-form-pane" onsubmit="return false;">
              <div class="layui-form-item layui-inline">
                <div class="layui-inline">
                  <label class="layui-form-label"><i class="layui-icon">&#xe637;</i> 时间范围：</label>
                  <div class="layui-input-inline">
                    <input type="text" name="a_date" id="a_date" autocomplete="off" class="layui-input">
                  </div>
                </div>
              </div>
              <div class="layui-form-item layui-inline">
                <label class="layui-form-label"><i class="layui-icon">&#xe735;</i> 用途分类：</label>
                <div class="layui-input-inline">
                  <select name="a_cols" lay-search>
                    <option value="">用途分类</option>
                    {foreach $list as $col}
                    <option value="{$col.cols}">{$col.cols}</option>
                    {/foreach}
                  </select>
                </div>
              </div>
              <div class="layui-form-item layui-inline">
                <div class="layui-input-inline">
                  <button class="layui-btn" type="submit" lay-filter="exportSbt" lay-submit>导出</button>
                </div>
              </div>
            </form>

            <!-- 导出历史 -->
            <table id="billExport" lay-filter="export"></table>
          </div>
        </div>
      </div>      
    </div>
    <!-- 分类管理 -->
    <div class="layui-tab-item"><iframe src="{U('Index/sortManagement')}" frameborder="0" scrolling="auto" width="100%" height="100%"></iframe></div>
    <!-- 帐目统计 -->
    <div class="layui-tab-item"><iframe src="{U('Index/statistics')}" frameborder="0" scrolling="auto" width="100%" height="100%"></iframe></div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
   杨文迪 © 992307026@qq.com
  </div>
</div>
<script src="{$smarty.const.JS_URL}layui/layui.js"></script>
<script>
var getBillExportData_url = "{U('Index/getBillExportData')}";
var export_url = "{U('Index/export')}";
</script>;
<script src="{$smarty.const.JS_URL}index.js"></script>
</body>
</html>